name: infra-terraform

on:
  push:
    branches: [ main ]
    paths:
      - 'infra/terraform/**'
  workflow_dispatch:

jobs:
  validate-plan:
    runs-on: ubuntu-latest
    # Update this to the exact GitHub Environment name you created
    environment: tdc_env
    env:
      SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
    steps:
      - uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      - name: Terraform Init
        working-directory: infra/terraform
        env:
          ARM_STORAGE_USE_AZUREAD: 'true'
          ARM_USE_AZUREAD: 'true'
        run: |
          terraform init -reconfigure

      - name: Terraform Validate
        working-directory: infra/terraform
        run: |
          terraform validate

      - name: Terraform Plan
        working-directory: infra/terraform
        run: |
          terraform plan -var "subscription_id=${{ env.SUBSCRIPTION_ID }}" -var "tenant_id=${{ env.TENANT_ID }}"
